<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <a class="navbar-brand" href="#page-top">NYT scraper</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#savedArticles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Scrape Articles</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Header -->
<header class="masthead">
    <div class="container-fluid">
        <div class="intro">
            <h1>The New York Times</h1>
            <h2>Mongo DB Scraper</h2>
        </div>
        <!-- Trigger the scrape with a button -->
        <button type="button" class="btn btn-xl text-uppercase">Scrape Articles</button>
    </div>
</header>

<!-- Modal -->


<section container id="articles">
</section>