html {
    box-sizing: border-box;
    height:100%;
}
*,
*:before,
*after {
    box-sizing: inherit;
} 

@font-face {
    font-family: nytimes; 
    src: url("../css/font_file.ttf");
}


body{
    font-family: 'New Times Roman';
    text-align: center;
}

/* .BeforeScroll{
    color: rgb(15, 15, 19);
    display: none;
}
.AfterScroll {
    color:whitesmoke;
    display: block;
}*/

.navbar-brand {
    font-family: nytimes;
    font-size: 30px;
    color: rgb(22, 22, 23);
}

nav {
    background-color:whitesmoke;
    height: 70px;
    border-bottom: solid 1px rgb(167, 33, 33);
}

.navbar-nav .nav-link {
    color:rgb(15, 15, 19);
    background-color:whitesmoke;
}

#scrape {
    cursor: pointer;
    border: none
}

@media (max-width: 860px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}

body {
    text-align: center;
    color: rgb(22, 22, 23);
    background-image: url("../images/news1.jpg");
    background-position: center;
    /* background-repeat: no-repeat;  */
    background-size: cover, auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    position:absolute;
    left:0;
    background-color: rgb(249, 249, 249, 0.3);
    width: 100%;
    height: 100%;
}

.intro {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -1%);
    font-family: nytimes;
    color: rgb(22, 22, 23);
  }

h1 {
    
    font-size: 80px;
    /* padding-top: 10%; */
} 

h2 {
    font-size: 60px;   
}

section {
    margin-top: 70px;
    left:0;
    background-color: rgb(249, 249, 249, 0.3);
    width: 100%;
    height: 100%;   
}

#noSavedArticles {
    margin-top: 80px;;
}

#articleCard {
    margin-top: 10px;
    margin-bottom: -10px;
};

.save-article {
    border: solid 1px green;
}

.addNote, .viewArticles {
    border: solid 1px rgb(42, 42, 171)
}

.delete {
border: solid 1px rgb(167, 33, 33);
}

.bootbox {
    display: block;
    max-width: 60%;
    max-height: 60%;
    background-color: white;
    margin-top: 90px;
    border-radius: 3px;
    border: solid 1px rgb(167, 33, 33);
    margin: auto;
}

.modal-content {
    border: none
}

.notes {
    border: solid 1px rgb(42, 42, 171)
}

.saveNote {
    border: solid 1px green;
    }
textarea {
    margin-bottom: 10px;
} 

.note{
    font-size: 16px;
}

.deleteNote {
    border: solid 1px rgb(167, 33, 33);
    padding: 0px 2px 0px 2px;
    font-size: 10px;
    margin-left: 10px;
    }

hr {
    border-bottom: solid 1px rgb(167, 33, 33);
}


 